  </main>
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__brand">
        <span class="footer__logo"><span class="nav__logo-icon">&#9889;</span> FitStrong Kitchen</span>
        <p class="footer__tagline">Fuel your training. Love your food.</p>
      </div>
      <div class="footer__links">
        <a href="/">Recipes</a>
        <a href="/about">About</a>
        <a href="https://recipyapp.com/creators/fitstrongkitchen/recipes">Find me on Recipy</a>
      </div>
      <p class="footer__copy">&copy; <%= new Date().getFullYear() %> FitStrong Kitchen. All rights reserved.</p>
    </div>
  </footer>
  <script type="module" src="https://widgets.recipyapp.com/recipy-widgets.js"></script>
</body>
</html>
